



<div class="row mt-5 fw-bold text-center">

	<h1>404</h1>
	<img style="width:50%; display:block; marginm-left:auto; margin-right:auto;" src="~/images/errors/gifs.gif"/>

	<p style="font-size:30px">Sanırım Kayboldun.</p>
	<p>Ana Sayfaya gitmek için <a href="/">BURAYA</a> buraya tıklayabilirsin</p>


</div>